<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.github.owner_gravatar_url}}"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">To so Filipovi <span id="js-rotating">fantastični, odlični, prečudoviti, uporabni</span> GitHub projekti!</h4>
  </div>
  <div class="user-content">
    <p>
      Na tej strani si lahko ogledate vse moje <a href="{{site.baseurl}}/projects">GitHub projekte</a>. Na voljo so njiovi <a href="{{site.baseurl}}">vodiči in primeri uporabe</a>. Ogledate si lahko tudi ideje za bodoče projekte.
    </p>
    
    {% if site.websites %}
    <p>
      <strong>Druge strani:</strong>
    </p>
    <ul>
      {% for website in site.websites %}
	  <li><a href="{{website.url}}" title="{{website.name}}">{{website.name}} ({{website.url}})</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>