<div class="col s12 tech-div">
  {% for post in site.posts %}
  {% assign techs = post.technologies | split: ' ' %}
  {% assign technologies = technologies | concat: techs | uniq %}
  {% endfor %}
  <div class="tech-list">
    {% for tech in technologies %}
    {% if tech != "" %}
    <a class="tech-chip" href="#{{tech | slugify}}"><div class="chip z-depth-1">{{tech}}</div></a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="divider"></div>
  <div class="tech-index">
    {% for tech in technologies %}
    {% if tech != "" %}
    <h4 id="{{tech | slugify}}">{{tech}}</h4>
    {% assign posts = site.posts | sort: 'date' %}
    <ul class="tech-post">
      {% for post in posts %}
      {% if post.technologies contains tech %}
      <a class="post-title" href="{{site.baseurl}}{{post.url}}" target="_blank">
        <li>
          {{post.title}}
          <small class="post-date">{{post.date | date_to_string}}</small>
        </li>
      </a>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
  </div>
</div>